table {
  border-collapse: collapse;
}

th,
td {
  padding: 4px;
}
.center {
  text-align: center;
}
.top {
  vertical-align: top;
}
.bottom {
  vertical-align: bottom;
}
.border-none {
  border: none;
}
.border-1 {
  border: 1px solid black;
}
.border-top-2 {
  border-top: 2px solid black;
}

.border-left-2 {
  border-left: 2px solid black;
}

.margin-top-8 {
  margin-top: 8px;
}
